<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <title>Test</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel=stylesheet>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <body class=toucan-container>
    <div class=toucan>
      <div class=toucan-body>
        <div class=toucan-eye></div>
        <div class=toucan-eyeglass></div>
      </div>
      <div class=toucan-beak></div>
    </div>
  </body>

</html>
